<div class="jumbotron">
    <h1 class="display-4">Covid Tracker</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sit sequi optio laboriosam quam consequatur quo, necessitatibus sed. Reiciendis maiores eius neque enim et soluta possimus rerum ipsa harum blanditiis.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum optio veritatis molestiae ipsum esse eum laboriosam corrupti quisquam, labore doloremque laudantium at sit explicabo consectetur accusantium! Ipsam voluptatum dolor porro?</p>
</div>